.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh; 
  padding: 2rem;
  background-color: #ffffff;
}

.signup-box {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  height: 500px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signup-box h1{
    font-size: 45px;
}

.form-group {
  margin-bottom: 1rem;
  border-radius: 30px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 1rem;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  background-color: #e8e8e8;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #5db075;
  box-shadow: 0 0 0 3px rgba(93, 176, 117, 0.2);
}


button[type="submit"] {
  background-color: #5db075;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #4a9e66;
}

input::placeholder {
  color: #aaa;
  
}

